/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf7e2;
    text-align: center;
}

header {
    background-color: #ffcc80;
    padding: 10px;
}

header h1 {
    margin: 0;
    color: green;
    font-weight: bold;
}

header h2 {
    margin: 5px 0 0 0;
    color: #1c6a0f;
    font-size: 1.2em;
}

/* Menú de navegación */
nav {
    background-color: #87cefa;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    background-color: #1c6a0f;
    border-radius: 5px;
}

nav a:hover {
    background-color: #125b08;
}

/* Contenido principal */
main {
    margin: 20px auto;
    width: 90%;
    padding: 20px;
    background-color: #f4f4f4;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cuadro-inici {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.cuadro-rojo {
    background-color: #e74c3c; /* Color rojo */
    color: white;
    width: 50%;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.contruccion {
    margin-bottom: 20px;
    text-align: center;
}

.contruccion h2 {
    background-color: #87cefa; /* Fondo azul claro */
    padding: 10px;
    color: #333;
    font-size: 1.3em;
    border-radius: 5px;
}

.contruccion p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.5;
}

/* Imagen principal */
.imagen-principal {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
a.active {
    color: #fff; 
    background-color: #007BFF;
    pointer-events: none; 
    cursor: default;
}
