header {
    background-color: #ffcc80;
    padding: 10px;
}

header h1 {
    margin: 0;
    color: green;
    font-weight: bold;
}

header h2 {
    margin: 5px 0 0 0;
    color: #1c6a0f;
    font-size: 1.2em;
}
a.active {
    color: #fff; 
    background-color: #007BFF;
    pointer-events: none; 
    cursor: default;
}
