/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccba78;
    text-align: center;
}

header {
    background-color: #ffcc80;
    padding: 10px;
}

header h1 {
    margin: 0;
    color: green;
    font-weight: bold;
}

header h2 {
    margin: 5px 0;
    color: #1c6a0f;
    font-size: 1.2em;
}

/* Menú de navegación */
nav {
    background-color: #87cefa;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
    background-color: #1c6a0f;
    border-radius: 5px;
}

nav a:hover {
    background-color: #125b08;
}

/* Contenido principal */
main {
    margin: 30px auto;
    width: 90%;
    max-width: 800px;
    padding: 30px;
    background-color: #f4f4f4;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.cuadro-inici {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.cuadro-rojo {
    background-color: #e74c3c;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 5px;
}

/* Formulari */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    font-weight: bold;
    color: #333;
    display: block;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.radio-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

input[type="radio"] {
    width: auto;
}

.requerit {
    color: red;
}

.botons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botons input {
    padding: 10px 30px;
    background-color: #1c6a0f;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botons input:hover {
    background-color: #125b08;
}
.frutas-container {
    display: flex;
    flex-wrap: nowrap;  
}

.fruta-item {
    margin-right: 20px; 
    text-align: center; 
}

.fruta-image {
    width: 100px;
    display: block;
    margin: 0 auto;
}
a.active {
    color: #fff; 
    background-color: #007BFF;
    pointer-events: none; 
    cursor: default;
}
