/* Menú de navegación */
nav {
    background-color: #87cefa;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    background-color: #1c6a0f;
    border-radius: 5px;
}

nav a:hover {
    background-color: #125b08;
}